body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8; /* Light grey background */
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    background-color: #444; /* Dark grey header and footer */
    color: #fff;
    padding: 15px 0; /* Increased padding for better aesthetics */
}

header h1, footer p {
    margin: 0;
}

#shoppingApp {
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    flex: 1;
}

#formSection, #managementSection, #itemsSection, #actionsSection {
    margin-bottom: 20px;
}

.inputGroup {
    margin-bottom: 15px;
}

input, select, textarea {
    width: 100%;
    padding: 5px; /* Smaller padding */
    border: 2px solid #ccc; /* Slightly thicker border for a modern look */
    border-radius: 0; /* Square corners */
    background-color: #f2f2f2; /* Light grey background for inputs */
    font-size: 12px; /* Smaller font size */
}

input:focus, select:focus, textarea:focus {
    border-color: #444; /* Dark grey border on focus */
    outline: none;
}

button {
    padding: 10px 15px; /* Smaller button padding */
    border: none;
    background: #444;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background: #333; /* Darker grey on hover */
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e6e6e6; /* Light grey background for list items */
    padding: 10px; /* Smaller padding */
    border: 1px solid #ddd;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.purchased {
    text-decoration: line-through;
    background-color: #d4edda; /* Light green for purchased items */
}

body.dark-mode {
    background-color: #333;
    color: #fff;
}

.dark-mode #shoppingApp {
    background-color: #444;
    color: #fff;
}

.dark-mode button {
    background-color: #555;
    color: #fff;
}

.dark-mode button:hover {
    background-color: #666;
}

.dark-mode input, .dark-mode textarea {
    background-color: #555;
    color: #fff;
    border: 1px solid #fff;
}
